<div class="wrapper">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-1.webp" alt="Logo Kinnect" width="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light display-4 fw-bolde" aria-current="page" href="#">Kinnect Game</a>
        </li>
      </ul>
      <a href="https://www.kinnect.us/">
        <button class="btn btn-outline-light" type="submit">
          About
        </button>
      </a>

    </div>
  </div>
</nav>
<header class="d-flex justify-content-center align-items-center">
  <h1 class="text-center h2">Welcome to Kinnect Math Game </h1>
</header>
<main class="containre">
 <section class="show-message d-flex justify-content-center align-items-center m-1" *ngIf="showToast">
      <ngb-toast header="Error" [autohide]="false" (hide)="showToast = false">
       <span class="text-center">{{ errorMessage }} </span>
      </ngb-toast>
   </section>

    <section class="d-flex justify-content-center align-items-center mt-2">
        <h1>
          <span class="display-1 fw-bolder">
            {{ number_1}} + {{ number_2 }} =
          </span>
          <input type="text" class="form-control" [formControl]="responseInput" class="text-center display-1 fw-bolder input-result">
        </h1>
    </section>
    <section class="mt-10" *ngIf="seconds > 0">
      <p class="text-center lead text-success">
        You're taking on average {{ seconds }} seconds per solution
      </p>
    </section>
</main>
<footer>
  <p class="lead text-center text-light p-3">© 2022 Kinnect Math Game</p>
</footer>
</div>
